body {
    /*background-image: url("../images/night_city.jpg");*/
    background-image: url("../images/chicago.jpg");
    /*background-image: url("../images/new_york2.jpg");*/
    /*height: 100%;*/
    height: auto;
    width: auto;
}

form label {
    color: black;
    font-size: 18px;
    font-weight: normal;
}

.search-form {
    margin-top: 7%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}